:root {
  --primary-color: #ec729c;
  --secondary-color: #f4aeba;
  --trim-color: #c54c82;
  --accent-color: #fdfdcb;
}
body {
  background: linear-gradient(90deg, #ee9ca7 0%, #ffdde1 100%);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 52px;
}

h2 {
  font-size: 28px;
  opacity: 0.7;
}

small {
  text-align: center;
}

.container {
  max-width: 900px;
}
.navbar-bg {
  background-color: var(--primary-color);
  width: 100%;
}
.header {
  margin-top: 40px;
}
.app-btn {
  background-color: var(--primary-color);
  display: block;
  text-align: center;
}

.app-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.contact-btn {
  background-color: var(--primary-color);
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 40%;
}
.contact-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.footer {
  text-align: center;
  align-items: center;
}

.social {
  text-align: center;
}
footer .social-link {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--secondary-color);
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
}

footer .social-link:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transition: all 150ms ease-in-out;
}
